.nav-link.active svg {
    transform: scale(0.6);
    transition: transform 0.3s ease-in-out;
}

.main-green-bg {
    background-color: #003C2A;
}

.btn-main-green-bg {
    color: #fff;
    background-color: #003C2A;
}

.green-link {
 color: #003C2A;
 text-decoration: none;
}

.id-card-section {
    width: 700px;
}

.title-section img {
    width: 10px;
}
